<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p [%t][%c] %m%n" />
        </Console>
        <File name="MAIN_LOG" fileName="logs/app.log">
            <PatternLayout pattern="%d [%t] %p %c - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root >
            <AppenderRef ref="Console" />
            <AppenderRef ref="MAIN_LOG" />
        </Root>
        <Logger name="com.ring_cam_recorder" level="trace"/>
        <!-- <Logger name="org.springframework" level="debug"/> -->

    </Loggers>
</Configuration>